/* define main colors */
$maincolorred: #B31931;
$maincolorgrey: #4a4a4a;
$maincolorred2: #e60044;
$maincolorgrey2: #cccccc;
$maincolorhighlight: darkblue;
$maincolorfont : white;
$maincolorfont2 : black;
